* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: auto;
}

.slide_box {
    width: 1000px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    
}

.slide_box_1 {
    width: 3000px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.slide_box_1 img {
    width: 1000px;
    height: 100%;
    float: left;
}