@import url(reset.css);
* {
    box-sizing: border-box;
}

.section1 {
    background: url("rain.jpg") no-repeat;
    background-size: 30%;
    background-position: center center;
}

.section2 {
    background: url("img2.jpg");
    background-size: cover;
}

.section3 {
    background: url("img3.jpg");
    background-size: cover;
}

.section4 {
    background: url("img4.jpg");
    background-size: cover;
}